.table-wrapper {
    border: solid 3px #00384C;
    border-radius: 20px;
    font-size: 14px;
}

.sort {
    margin-left: 5px;
    cursor: pointer;
}

.btn-sort {
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 0;
}

.clear-btn {
    border: none;
    color: white;
    background-color: #D60756;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 20px;
}

.clear-btn:hover {
    background-color: #00384C;
    transition: ease .2s all;
}
