.table-wrapper {
    border: solid 3px #00384C;
    border-radius: 20px;
    font-size: 14px;
}

.sort {
    margin-left: 5px;
    cursor: pointer;
}

.btn-sort {
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 0;
}
