.view-btn {
    border: none;
    color: white;
    background-color: #F98512;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
}

.view-btn:hover {
    background-color: #D60756;
    transition: ease .3s all;
}

.table-row:hover {
    background-color: #f8eff3;
    transition: ease .3s all;
}